.list{
    margin: 0;

    list-style-type: none;
}

.item{
    margin: 1rem 0;

    a{
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: #000000;

        background-color: #f4f4f4;

        transition: background-color .4s ease;

        &:hover{
            background-color: #e4e4e4;
        }
    }

    h2{
        margin-bottom: 0;
    }

    p{
        font-size: .8rem;
        font-style: italic;
        color: #777777;
    }
}