.header{
    padding: 1rem 0 3rem;
}

.title{
    font-size: 3rem;
    text-decoration: none;
    color: #000000;
}

.list{
    display: flex;
    margin: 0;

    list-style: none;
}

.link{
    margin-right: 1.5rem;

    font-size: 1rem;
    text-decoration: none;
    color: #999999;

    transition: color .4s ease;

    &:hover{
        color: #666666;
    }
}

.active{
    color: #333333;
}
